/* App.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Choose an appropriate font */
  }

  .light {
    background-color: white;
    color: black;
  }

  .dark {
    background-color: black;
    color: white;
  }

