.intro {
    /* height: calc(100vh - 4rem); */
    height: 100%;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    z-index: 0;
    top: 2rem;
    right: 0;
    object-fit: cover;
    height: 90vh;
}

.introContent {
    height: 80vh;
    width: 90vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.hello {
    font-size: 1.75rem;
    font-weight: 400;
}

.introName {
    color: rgb(198, 176, 114);
}

.introPara {
    font-size: medium;
    font-weight: 100;
}

.introPara2 {
    font-size: medium;
    font-weight: 100;
    word-wrap: break-word;
    width: 60%;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.btn {
    background: rgb(198, 176, 114);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
}

.about-img {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.blinking-cursor {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }


@media screen and (max-width:840px) {
    .bg {
        right: -30vw;
        position: fixed;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -40vw;
        position: fixed;
    }
}

/* Reviews section */

.reviews {
    margin-top: 0.2rem;
    text-align: center;
  }

  .review-container {
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem; /* Add padding to create space between the border and reviews */
    border: 2px solid rgb(198, 176, 114); /* Add border around the review container */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }

  .review-nav-btn {
    background: rgb(198, 176, 114);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin-left: 1rem; /* Add margin to separate buttons from reviews */
  }

  .review-nav-btn:hover {
    background: #a6875b;
  }

  .review-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 2px solid rgb(198, 176, 114); /* Add border around each review */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    padding: 1rem; /* Add padding to create space between the border and review content */
  }

  .review-avatar {
    border-radius: 50%;
    width: 55px; /* Adjust the size as needed */
    height: 55px; /* Adjust the size as needed */
    margin-right: 1rem;
  }

  .review-details {
    flex: 1;
  }

  .review-details h3 {
    margin-bottom: 0.5rem;
  }

  .review-details p {
    margin: 0;
  }

